@media (max-width:1600px) {
    .padding-other {
        padding: 0 8% !important;
    }  

}
@media (max-width:1441px) {

    .main-banner:before {
        font-size: 290px;
        left: -287px;
    }
    h1.fill-text {
        font-size: 290px !important;
    }
    .padding-other {
        padding: 0 5% !important;
    }
   
}
@media (max-width:1367px) {
    .padding-other {
        padding: 0px 3% !important;
    }
    .contri-list-data li {
        font-size: 13px;
    }
}
@media (max-width:1281px) {
   
}
@media (max-width:1200px) {
    h1.fill-text {
        left: -128px;
        font-size: 250px !important;
    }
    .main-banner:before {
        font-size: 250px;
        left: -251px;
    }
    .missio-content {
        margin-left: 0;
    }
    .p-re-0{
        padding-inline: 0;
    }
    .mission-left img {
        width: 100%;
    }
    .missio-content li i {
        margin-right: 15px;
    }
    .missio-content li {
        font-size: 13px;
        padding-bottom: 20px;
        line-height: 27px;
    }
    .nav-center .nav-item .nav-link {
        padding: 15px 15px !important;
    }
}
@media(max-width:1024px){
    h1.fill-text {
        left: -73px;
        font-size: 170px !important;
    }
    .main-banner:before {
        font-size: 170px;
        left: -167px;
    }
    .banner-content h1 {
        padding-bottom: 13%;
        font-size: 35px !important;
        line-height: 40px;
    }
    .nav-center .nav-item .nav-link {
        padding: 15px 5px !important;
        font-size: 14px;
    }
    .navbar-right-btn {
        padding: 7px 8px;
        font-size: 14px;
        margin-left: 15px;
    }
}
@media (max-width:993px) {
    
    .community-slider button {
        background-color: rgb(0 152 75) !important;
        width: 25px;
        border-radius: 0 !important;
    }
    
    .community-slider button i {
        color: #fff !important;
    }
    .count-info h3 {
        width: 248px;
    }
}

@media  (max-width:815px) {
    h1.fill-text {
        top: 40%;
        left: -61px;
        font-size: 140px !important;
    }
    .main-banner:before {
        font-size: 140px;
        left: -138px;
        top: 40%;
    }
    .main-banner .owl-nav button {
        width: 81px !important;
        height: 65px !important;
    }
    .banner-content h1 {
        padding-bottom: 13%;
        font-size: 27px !important;
        line-height: 35px;
    }
    .counter-area .section-heading h1 span {
        display: block;
    }
    .foundation-content {
        padding-bottom: 43px;
    }
    .float-responsive {
        display: block;
    }
    .float-responsive .dona-float {
        position: fixed;
        bottom: 20px;
        right: 13px;
        z-index: 999;
    }
    .right-logo{
        display: none;
    }
    
}
@media  (max-width:768px) {
   
    h1 {
        font-size: 32px !important;
    }
   
    div#navbarSupportedContent {
        position: absolute;
        width: 100%;
        left: 0;
        background: #fff;
        top: 114%;
        border: 1px solid #cccccc8a;
        z-index: 9;
    }
    .nav-center .nav-item {
        text-align: center;
        border-bottom: 1px solid #cccccc7d;
    }
    .nav-center .nav-item .nav-link {
        padding: 10px 25px !important;
    }
    .sub-menu {
        left: 0;
        top: 100%;
        width: 100%;
    }
    .main-logo {
        display: none;
    }
    .dropdown-menu .dropdown-item {
        font-size: 12px;
    }
    .right-donate {
        display: none;
    }
    .found-sec {
        padding: 58px 0;
    }
    .responsive-logo{
        display: block;
    }
    .our-mission-area .missio-content h3 {
        margin-top: 35px;
    }
    section.our-mission-area {
        padding: 30px 0;
    }
    a.read-more {
        margin-bottom: 23px;
        display: table;
    }
    .mt-res-0{
        margin-top: 0 !important;
    }

    section.about-banner:before {
        background-size: 28%;
    }
    section.about-banner:after {
        background-size: 28%;
    }
    
    .iner-ceo {
        text-align: center;
        width: 100%;
    }
    .nav-center li.nav-item.active:after {
        display: none;
    }
    .audit-box {
        flex-direction: column;
    }
    .financial-slider-area {
        overflow: hidden;
    }
    .slider-for .slick-list.draggable {
        padding: 0 !important;
    }
    .audit-box .view-more {
        margin-left: 0;
        margin-top: 30px;
    }
  
}

@media (max-width:576px) {
  
    h1 {
        font-size: 23px !important;
    }
    h1.fill-text {
        display: none;
    }
    .main-banner:before {
        display: none;
    }
    .banner-content h1 {
        padding-bottom: 14%;
        font-size: 22px !important;
        line-height: 30px;
    }
    .main-banner .owl-nav button {
        width: 63px !important;
        height: 52px !important;
    }
    
    .count-info{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    section.about-banner:before {
        background-size: 23%;
    }
    section.about-banner:after {
        background-size: 23%;
    }
    .about-banner-cont .habi-hous {
        width: 76%;
    }
    .navbar-brand img {
        width: 73%;
    }
    header.main-header {
        padding: 5px 0;
    }
    .name-box:after{
        display: none;
    }
    .financial-slider-area {
        padding: 44px 0 30px;
    }
    .audit-box {
        padding: 27px 14px;
    }
    .finacial-statement-banner .slick-prev {
        left: 31px;
    }
    .finacial-statement-banner .slick-next {
        right: -30px;
    }
}
@media (max-width:414px) {
    .navbar-brand img {
        width: 63%;
    }
    .banner-content h1 {
        padding-bottom: 20%;
        font-size: 17px !important;
        line-height: 23px;
    }
    ul.contac-det.email-details {
        display: block;
    }
    .contac-det.email-details li:nth-child(2) {
        display: none !important;
    }
    img.footerlogo {
        width: 100%;
    }
    .finacial-statement-banner .slick-prev {
        left: 22px;
    }
    .finacial-statement-banner .slick-next {
        right: -21px;
    }
    .finacial-statement-banner .slick-next, .finacial-statement-banner .slick-prev {
        width: 42px;
        height: 42px;
    }
}
@media (max-width:376px) {
    .main-banner .owl-nav button {
        width: 33px !important;
        height: 33px !important;
    }
    .banner-content h1 {
        padding-bottom: 16%;
        font-size: 15px !important;
        line-height: 18px;
    }
    .form-news button {
        width: 31%;
        font-size: 12px;
    }
    .about-banner-cont p {
        padding: 0 2% 17px;
    }
    .gen-para p {
        padding: 0 2% 17px;
    }
}
@media (max-width:360px) {
    
}
@media (max-width:321px) {
   
}