@media (max-width:1600px) {
    h1 {
        font-size: 42px !important;
    }
    h4 {
        font-size: 23px !important;
        margin-bottom: 0;
    }
    .target-ammoun h4{
        margin-bottom: 0;
    }
    
    #commentanimatedHeading li p {
        font-size: 18px;
    }
    h1.percentage-count {
        font-size: 44px !important;
    }
    .guest-box p {
        font-size: 18px;
        line-height: 28px
    }
    .guest-box-last p {
        font-size: 18px;
        line-height: 28px
    }
    .guest-box-last {
        height: 260px;
    }
    .guest-box {
        height: 260px;
    }
    .gradient-border {
        padding: 37px 29px;
    }
    .raisde-percenta {
        margin: 0 10px 0 0;
    }
    .al-conrib-left p span {
        font-size: 18px;
    }
    .al-conrib-left p {
        font-size: 23px;
    }
    .contr-wraper-main {
        height: 330px;
    }
    .bar-code-content h2 {
        font-size: 25px !important;
    }
    span.al-usd {
        font-size: 25px;
    }
    .al-conrib-right .rec-sp {
        font-size: 20px;
    }
}
@media (max-width:1531px) {
    .buildin-content h2 {
        font-size: 25px !important;
    }
    h1 {
        font-size: 36px !important;
    }
    .gradient-border {
        padding: 32px ​23px;
    }
    .guest-box {
        height: 220px;
    }
    .guest-box-last {
        height: 220px;
    }
    #commentanimatedHeading li p {
        font-size: 17px;
    }
    .al-conrib-left p span {
        font-size: 17px;
    }
    .all-contributes-area h4 {
        font-size: 21px !important;
    }
    .guest-box {
        height: 257px;
    }
    .guest-box-last {
        height: 257px;
    }
    .contr-wraper-main {
        height: 337px;
    }
    .al-conrib-left p {
        font-size: 21px;
    }
}
@media (max-width:1441px) {
    .raised-black .raised-area-box h4 {
        font-size: 15px !important;
    }
    .guest-last-left:last-child {
        padding: 43px 0 21px;
    }
    
}
@media(max-width:1367px){
    #commentanimatedHeading li p {
        padding-top: 5px;
    }
    .contr-wraper-main{
        height: 396px;
    }
  }
@media (max-width:1281px) {
    h1 {
        font-size: 30px !important;
    }
    .bar-code-content h2 {
        font-size: 24px !important;
    }
    .raised-black .raised-area-box h4 {
        font-size: 14px !important;
    }

}
@media (max-width:1200px) {
  
}
@media(max-width:1024px){
 
}
@media (max-width:993px) {
    
   
}

@media  (max-width:815px) {
    
    
}
@media  (max-width:768px) {
   
  
}

@media (max-width:576px) {
  
}
@media (max-width:414px) {
   
}
@media (max-width:376px) {
    
}
@media (max-width:360px) {
    
}
@media (max-width:321px) {
   
}