@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{

    scroll-behavior: smooth;
}
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:hover{
    text-decoration: none !important;
}
@media(min-width:1400px){
    .container{
      max-width: 1280px !important;
  }
}


:root{
    --font600: 600;
    --font700: 700;
    --bthemecolor:#285993;
}
p{
    font-size: 15px;
    line-height: 23px;
    margin: 0 !important;
}
h1{
    font-size: 53px !important;
}
h2{
    font-size: 28px !important;
}
h3{
    font-size:18px !important;
    font-weight: 500 !important;
}
h4{
    font-size: 28px !important;
    color: #000;
    font-weight: 600;
}
h5 {
    font-size: 20px;
}
h1,h2,h3,h5,h6{
   font-weight: var(--font700);
}


.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
header {
    background-color: rgb(255 255 255);
    padding: 26px 0 0;
}
.main-wrapper {
    padding: 33px 0 10px;
    height: 100vh;
}
.buildin-content h2 {
    color: var(--bthemecolor);
    font-weight: var(--font600);
    line-height: 38px;
    padding-bottom: 0;
    text-align: center;
    font-size: 38px !important;
}

.buildin-content h3 {
    font-weight: 400;
    color: var(--bthemecolor);
    text-align: center;
    letter-spacing: 4px;
}
.contribute-box h5 {
    font-weight: var(--font600);
    padding-bottom: 10px;
}


.list-funds li p span {
    font-weight: var(--font600);
    display: block;
    font-size: 17px;
}

ul.list-funds {
    display: flex;
    justify-content: space-between;
    width: 58%;
}

.list-funds li p {
    line-height: 25px;
}

.bulding-right-box {
    display: flex;
    flex-wrap: wrap;
}

.contribute-box {
    padding: 15px 20px;
    width: 55%;
    background: #fff;
    border: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.bulding-right-box .contribute-box:first-child::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/upper-left.svg);
    background-position: top left;
    background-size: 19%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}
.bulding-right-box .contribute-box:last-child::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../img/lower-right.svg);
    background-position: bottom right;
    background-size: 25%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}

.total-amount-box {
    width: 100%;
}
.total-amount-box h3 {
    color: var(--bthemecolor);
    margin: 3px 0;
}
.list-funds li p img {
    margin-right: 8px;
}
.rec-sp{
    color: var(--bthemecolor);
}
/* Bar code Area */
.scan-support-bar {
    display: flex;
    align-items: center;
    border: 1px solid #285993;
    background: #fff;
    margin-bottom: 34px;
    padding-right: 7px;
}
.set-scan-code{
  display: flex;
  justify-content: flex-end;
}
.bar-code-content h2,.bar-code-content p {
    color: #285993;
}

.bar-code-content p {
    font-weight: 600;
    font-size: 20px !important;
}

.bar-code-content h2 {
    font-size: 33px !important;
    padding-bottom: 3px;
}
/* Bar code Area */

.guest-box {
  border: 1px solid #e7e7e7;
  box-shadow: 30px 30px 127px 0px #ccccccad;
  padding: 20px 56px;
  height: 277px;
  background: #fff;
}

.guest-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.percentage-count {
  color: var(--bthemecolor);
}

.guest-head p {
  font-weight: var(--font600);
}

.guest-box p {
  color: #285993;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  padding-top: 11px;
}

.guest-box p span {
  font-weight: var(--font600);
}
h5.low-as {
  color: #285993;
  font-weight: 400;
  padding-top: 5px;
}

h5.low-as span {
  font-weight: 600;
}
canvas#celebration {
  position: absolute;
  left: -10%;
}
h1.percentage-count {
    font-size: 66px !important;
}
.target-ammoun h1.target-amount {
    color: #bf1e2d;
}
.target-ammoun  .raised-amount {
    color: #285993;
}
.raised-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.reaised-center {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 11px 0 12px;
    margin: 3px 0px 17px;
    overflow: hidden;
    position: relative;
}
.js-explosion {
    width: 100%;
    position: absolute;
    top: 0;
}
.raised-black 
 .raised-amount {
    color: #000;
    font-size: 32px !important;
}
.raised-black .raised-area-box h4 {
    font-size: 18px !important;
}
.raisde-percenta {
    position: relative;
}

.raisde-percenta h1 {
    color: #2859a1;
}
.raised-black .raisde-percenta h1 {
  color: #000;
  font-size: 47px !important;
}
/* .raisde-percenta h1:after {
    content: '%';
    background: #fff;
    position: absolute;
} */
.raisde-percenta h1 span {
    position: relative;
    right: 1px;
    background: #fff;
}
/* Border Animation */
.col-lg-4.main-box-target {
    margin-bottom: 10px;
}
.gradient-border {
  --borderWidth: 8px;
  background: #ffff;
  position: relative;
  padding: 32px 42px;
  box-shadow: 30px 30px 27px 0px #cccccc6e;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #24447d, #d61740, #24447d, #d61740, #24447d, #d61740, #24447d);
  z-index: -1;
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* Border Animation */

.recent-box p span {
    display: block;
    font-size: 15px;
}

.recent-box > p {
    font-weight: 500;
    line-height: 26px;
    font-size: 17px;
}

.recent-box {
    border: 1px solid var(--bthemecolor);
    width: 19%;
    background: #fff;
    box-shadow: 0 0 9px 0 #ccc;
    position: relative;
}
.recent-box h3 {
    font-weight: var(--font600);
}
.recent-box h3 {
    font-weight: var(--font600);
}
.recent-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.monthly-subscribe {
    background-color: #e0eaf6;
    color: var(--bthemecolor);
    text-align: center;
    padding: 2px 0;
}
.rcent-top {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span.new-tag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bf1e2d;
  color: #fff;
  padding: 3px 17px;
  font-size: 14px;
  box-shadow: 0px 4px 13px #ccc;
}
.recent-box:first-child {
  border-color: #bf1e2d;
}
.all-contribute li {
    padding: 0px 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.al-conrib-left p span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    padding-top: 7px;
}
.al-conrib-left {
    display: flex;
    align-items: flex-start;
}

.al-conrib-left p.newest-tag {
    background: #ffcad0;
    padding: 0 10px;
    color: #c81332;
    margin: 6px 14px 0 !important;
    font-size: 14px;
}
.al-conrib-left p {
    font-weight: 600;
    text-align: left;
    font-size: 28px;
}

.al-conrib-right .rec-sp {
    font-size: 22px;
    padding-top: 21px;
    position: relative;
    display: table;
}
.al-conrib-right p {
  display: flex;
  align-items: center;
}
.al-conrib-right span.al-month {
    padding: 0 10px;
    background: #e0eaf6;
    color: var(--bthemecolor);
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
}

span.al-usd {
    font-size: 28px;
    font-weight: 600;
    color: #285993;
    /* border-bottom: 1px solid#e7e7e7; */
    position: relative;
}
.rec-sp:before {
    width: 100%;
    content: '';
    position: absolute;
    background: #ccc;
    height: 1px;
    top: 10px;
    left: 0;
}
.al-conrib-right {
    text-align: right;
    line-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
ul.all-contribute {
    border: 1px solid #e7e7e7;
    background: #fff;
}
#commentanimatedHeading li p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  padding-top: 10px;
}

ul.all-contribute li:last-child {
    border-bottom-color: transparent;
}
section.all-contributes-area {
    padding: 25px 0px 14px;
    position: relative;
}
.flex-set{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
    align-items: center;
    width: 100%;
}


.tiers-contribute li {
    margin: 0 10px;
}

.tiers-contribute .flex-set p img {
    margin-right: 5px;
}

ul.tiers-contribute {
    border: 1px solid #e7e7e7;
    background: #fff;
}
.monthlys-contribute{
    border: 1px solid #e7e7e7;
    background: #fff;
}
.monthlys-contribute li{
    margin: 0 10px;
}
.tiers-contribute .flex-set p {
    display: flex;
}
.col-contr-35 {
    width: 33%;
}

.col-contr-65 {
    width: 63%;
}

.contribute-area-right {
    display: flex;
    justify-content: space-between;
}
#monthanimatedHeading li.slick-slide {
    opacity: 0.7;
}

#monthanimatedHeading li.slick-slide.slick-current.slick-active.slick-center {
    opacity: 1;
}
#commentanimatedHeading .flex-set {
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 0;
}

#commentanimatedHeading .flex-set h4 {
    margin-bottom: 0;
}

.left-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 5%;
    bottom: 40px;
}

.left-img a.buildin-link {
    margin-top: 11px;
    color: #5f2567;
}
.bar-code-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5%;
    bottom: 9%;
    text-align: center;
}

.bar-code-area h2 span {
    display: block;
    font-weight: 500;
}

.bar-code-area h2 {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    color: #5f2567;
}

.bar-code-area p,.bar-code-area a {
    color: #5f2567;
    font-weight: 500;
}
.brc-img {
    border: 2px solid #5f2567;
    padding: 27px;
    border-radius: 100%;
    margin: 7px 0;
}


/* Particle Animation */

@keyframes confetti-slow {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
  }
  @keyframes confetti-medium {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
  }
  @keyframes confetti-fast {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
  }


  .confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
  }
  #set-explode .confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0 !important;
    display: block !important;
    width: 100% !important;
    height: 134px !important;
}

  .confetti {
    position: absolute;
    z-index: 1;
    border-radius: 0%;
  }
  .confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
  }
  .confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
  }
  .confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
  }

  /* Checkmark */
  .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
  }

  .checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #00C09D;
    position: absolute;
  }

  .checkmark-circle .checkmark {
    border-radius: 5px;
  }

  .checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-radius: 2.5px !important;
    content: "";
    left: 25px;
    top: 75px;
    position: absolute;
  }

  @-webkit-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @-moz-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  .submit-btn {
    height: 45px;
    width: 200px;
    font-size: 15px;
    background-color: #00c09d;
    border: 1px solid #00ab8c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
    cursor: pointer;
    transition: all 2s ease-out;
    transition: all 0.2s ease-out;
  }

  .submit-btn:hover {
    background-color: #2ca893;
    transition: all 0.2s ease-out;
  }
  .donation-celebration{
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
  }
  .target-ammoun p {
    font-weight: 500;
}

  .donation-content {
    color: #b27711;
    font-weight: var(--font700);
    display: flex;
    flex-direction: column;
}

.donator-name {
    font-size: 55px !important;
}

.donator-name span {
    display: block;
    font-size: 23px;
}

.donation-recieve {
    font-size: 37px !important;
    margin-top: 5px;
    font-weight: 400;
}
/* Particle Animation */

.contr-wraper-main ul#animatedHeading {
  border-color: transparent;
}
.contr-wraper-main {
  height: 345px;
  margin: 0 auto;
  overflow: hidden;
  background: #ffff;
  position: relative;
  border: 1px solid #e7e7e7;
  box-shadow: 30px 30px 127px 0px #ccccccad;
}

#animatedHeading{
  /* top: 348px; */
  position: relative;
  box-sizing: border-box;
  /* animation: marquee 20s linear infinite; */
  margin: 0 auto;
  text-align: center;
}

@keyframes marquee {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}
.guest-head p img {
  margin-right: 8px;
}
.guest-box-last {
  border: 1px solid #e7e7e7;
  box-shadow: 30px 30px 127px 0px #ccccccad;
  padding: 0 52px;
  position: relative;
  height: 277px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.guest-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.guest-box-last:before{
    position: absolute;
    top: 13px;
    content: '';
    background: #285993;
    width: 2px;
    height: 92%;
    right: 48%;
    transform: translateX(50%) rotate(34deg);
}

.guest-box-last p {
  color: #285993;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
p.user-count {
    font-size: 29px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

p.user-count img {width: 22px;margin-right: 10px;}
.after-img{
  position: relative;
  overflow: hidden;
}
.guest-last-left:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 43px 0;
}

.guest-last-left {
    padding-top: 25px;
}
.after-img:after{
  position: absolute;
  content: '';
  background-image: url(../img/huf-icon.svg);
  background-size: 22%;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  bottom: 0;
  pointer-events: none;
}
ul#commentanimatedHeading {
  box-shadow: 30px 30px 127px 0px #ccccccad;
}

p.copy-text {
    color: #461a55;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    position: relative;
    z-index: 99;
    padding-bottom: 6px;
}
p.copy-text a {
    color: #461a55;
}
.all-contributes-area h4 {
  margin-bottom: 15px;
}


/* Raise Counter */

.total-pldge-amount {
  position: relative;
  width: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77px;
  font-size: 23px;
  font-weight: 700;
  color: #000;
}

.total-pldge-amount canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.raised-amount-counter {
  position: relative;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93px;
  font-size: 31px;
  font-weight: 700;
  color: #285993;
}

.raised-amount-counter canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.flex-set.img-flex-set {
  justify-content: center;
  }
/* Raise Counter */












/* Responsive */


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #285993 0%,
    #d61740 29%,
    #285993 67%,
    #d61740 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}